---
import LogoIPB from '../assets/img/Logo IPB.svg';
import YT from '../assets/icons/youtube.svg';
import IG from '../assets/icons/instagram.svg';
---

<footer class="container">
  <div class="row justify-content-center my-4">
    <div class="col-12 col-md-8 text-center">
      <img src={LogoIPB} alt="Logo IPB" width="366px" class="img-fluid">
    </div>
  </div>
  <div class="row justify-content-center text-center">
    <div class="col">
      <a href="https://www.youtube.com/@officialdpkuppkuipb8381" target="_blank" class="text-decoration-none">
        <img src={YT} alt="">
        <span class="text-gray700">OFFICIAL DPKU (PPKU) IPB</span>
      </a>
      <a href="https://www.instagram.com/ppkuipb/" target="_blank" class="text-decoration-none ms-3">
        <img src={IG} alt="">
        <span class="text-gray700">ppkuipb</span>
      </a>
    </div>
  </div>
  <hr/>
  <div class="row text-gray700 my-4">
    <div class="col-12 col-lg-6">
      <p class="text-center text-md-start">Jalan Meranti<br/>Gedung Pendidikan Bersama CCR (Common Class Room)<br/>Kampus IPB Dramaga Bogor</p>
    </div>
    <div class="col-12 col-lg-6">
      <p class="text-center text-md-end">Email: ppku-ipb@apps.ipb.ac.id<br/>Phone: 0251-8627387</p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col text-center text-gray700">©2023 Direktorat Sistem Informasi dan Transformasi Digital IPB.</div>
  </div>
</footer>