---
const { title } = Astro.props;
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
import '../styles/bootstrap.scss';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml+png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <Navbar />
		<slot>No content derived</slot>
    <Footer />
    
    <script>import '../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js';</script>
	</body>
</html>
